@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Work+Sans:wght@200&family=Yanone+Kaffeesatz&display=swap');



body,#root,.container,html{
  margin: 0;
  height: 100vh;
  scroll-behavior: smooth;
}

body{
  background-color: #131313;
  cursor: default;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13%;
  background-color: red;
  font-size: 50px;
  background-color: black;
}

.logo{
  font-family: 'Yanone Kaffeesatz' , sans-serif;
  color: blanchedalmond;
}

.sub-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  background-color: #131313;
  gap: 5%;
  position: sticky; top: 0;
  width: 100%
}
.menu-button{
  transition: all 0.5s;
  height: 80%;
  display: flex;
  align-items: center;
  color: #605e5e;
  font-size: 20px;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #131313;
}
.menu-button:hover{
  color: yellowgreen;
  border-bottom: 2px solid yellow;
}
.line{
  color: red;
  font-size: 60px;
  cursor: default;
}


.form-container,.preview-container{
  display: flex;
  justify-content: center;
}




.form,.preview-form{
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background-color: #F9FBFF;
  box-shadow: 0 0 10px  black;
  width: 60%;
  height: 100%;
  display: flex;
}
.preview-text{
  font-size: 32px;
  margin-top: 15%;
}
.form{
  flex-direction: column;
}
.form-content{
  padding: 5%;
}
.form-text{
  color: #3476b0;
}
.section-header{
  color: #3476b0;
  width: 100%;
  font-size: 32px;
  border-bottom: 2px solid #3476b0;
  padding-bottom: 10px;
}
.input-container{
  padding-top: 50px;
  display: flex;
  align-items: center;
  font-size: 22px;

}
.input-element{
  display: flex;
  align-items: center;
}
.selected{
  border-bottom: 2px solid yellowgreen;
  color: whitesmoke;
}

input{
  font-size: 22px;
  text-transform: capitalize;
  border: none;
  margin-left: 10px;
  color: #4a4848;
  background-color: #F9FBFF;
  border-bottom: 2px solid #3476b0;
}


.gender-selector{
  color: #3476b0;
}

input:focus{
  outline: none;
}
i{
  margin-right: 10px;
}
.form-logo{
  color: #3476b0;
}
.label{
  font-family: 'work sans',sans-serif;
}
.add-button{
  transition: all 0.5s;
  cursor: pointer;
  font-size: 32px;
}
.add-button:hover{
  transform: rotate(180deg);
  color: yellowgreen;
}

/*Section Styling */
.name{
  margin-right: 40px;
}
.note{
  margin-top: 30px;
  color: tomato;
  font-size: 16px;
}
.email,.institution,.company{
  margin-left: 50px;
  margin-right: 40px;
}
.institution{

}
.section-header{
  display: flex;
  align-items: center;
}
.personal-details-section,.form-options{
  margin-bottom: 17%;
}
.experience-details-section,.form-options{
  margin-top: 17%;
}
.color-picker{
  margin-top: 5%;
}
.experience{
  width: 50px;
}
.form-buttons{
  display: flex;
  justify-content: flex-start;
}
.submit-button{
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20%;
  font-size: 32px;
  color: yellowgreen;
  background-color: whitesmoke;
  border: 1px solid #3476b0;;
  padding: 10px;
  border-radius: 10px;
}
.submit-button:hover{
  background-color: #3476b0;
}
/*preview section styling */
.preview-content{
  width: 100%;
  display: flex;
}
.sub-text{
  font-size: 16px;
}
.left-content{
  width: 30%;
  border-top-left-radius: 32px;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
.right-content{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 5%;
  padding-top: 15%;
}
.header-text{
  margin-bottom: 5%;
}
.label-text{
  font-size: 26px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}




.warning{
  font-size: 16px;
  color: tomato;
  margin-left: 20px;
}
.footer-text{
  border-top: 2px solid #292929;
  margin-top: 10%;
  padding-top: 3%;
  width: 100%;
  font-size: 16px;
  color: #3476b0;
}
ul{
  margin: 0;
  margin-top: 40%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
li{
  list-style-type: none;
  display: flex;
}
a{
  cursor: pointer;
  text-decoration: none;
}
.hide{
  display: none;
}